.about-title {
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
  background-color: #009688;
  color: tomato;
  width: 500px;
  height: 22px;
}

.about-title__text {
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  color: greenyellow;
}
