html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  // отключить в случае необходимости
  // outline: 1px solid red;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.title {
  font-family: $second-text-color;
  font-size: 24px;
  line-height: $main-section-title-line-height;
  text-align: center;
  font-weight: inherit;
  color: $main-text-color;
}

.list {
  list-style: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}
@mixin list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
@mixin link {
  text-decoration: none;
  display: block;
}
@mixin btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

@mixin list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
@mixin link {
  text-decoration: none;
  display: block;
}
@mixin btn {
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin: 0;
  padding: 0;
}
