.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; 
  }
  @mixin list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  @mixin link {
    text-decoration: none;
    display: block;
  }
  @mixin btn {
    cursor: pointer;
    border: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
  }
 