/*fonts variables*/
$main-font:'DM Sans', sans-serif; /* Основной шрифт */ 
$title-font: 'Titan One', cursive; /* Шрифт заголовков */
/*color variables*/
$main-text-color: #000000; /* Основной цвет текста */ 
$second-text-color: #FFFFFF; /* Вторичный цвет текста */ 
$third-text-color: #907E82; /* Третий цвет текстка */ 
$accent-color: #D41443; /* Цвет акцента */  
$primary-title-color: #D41443; /* Основной цвет заголовков */ 
$second-title-color:  #FFA5BA; /* Вторичный цвет заголовков*/ 
$primary-btn-color:#FFFFFF; /*Основной цвет кнопок */ 
$second-btn-color: #D41443; /* Вторичный цвет кнопок */ 
$main-bgc: #FFF5F6; /* Основной цвет фона */ 
$second-bgc:  #FFA5BA; /* Вторичный цвет фона  */ 
$third-bgc:  #FFB8CA; /*Третий  цвет фона  */ 
$four-bgc: #FFFFFF; /* Четвертный цвет фона  */ 
$five-bgc: #FAFAFA; /* Пятый цвет фона (отзывы) */ 
$six-bgc: #E1E1E1; /* Шестой цвет фона (бордер под отзывами) */ 
$mobile-bgc: #E17992; /*Цвет фона мобильного меню*/ 
$mobile-border-color: #E18298; /* Цвет бордера в моб меню */ 
$product-one-bgc:  #FFB8CA; /* Фон первого продукта */ 
$product-second-bgc:#F0D1A5; /* Фон второго продукта */ 
$product-third-bgc: #C2E297; /* Фон третьего продукта */ 
/*animation variables */
$casual-cubic: cubic-bezier(0.4, 0, 0.2, 1);