<section class="section-advantages">
    <h2 class="visually-hidden">Преимущества</h2>
    <div class="container">
        <ul class="advantages-container list">
            <li class="advantages-item">
                <div class="advantages-label-1">
                    <span class="advantages-number">721</span>
                    <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages-item">
                <div class="advantages-label-2">
                    <span class="advantages-number">16KG</span>
                    <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>
            </li>
            <li class="advantages-item">
                <div class="advantages-label-3">
                    <span class="advantages-number">84</span>
                    <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
                </div>

            </li>
        </ul>
    </div>

</section>