<section class="product">
    <div class="container">
        <p class="product__discription">
            100% natural
        </p>
        <h2 class="product__title">
            products
        </h2>
        <ul class="product__list">
            <li class="product__item--one">
                <p class="product__name">ice cream</p>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product__button"></button>
            </li>
            <li class="product__item--two">
                <p class="product__name">ice coffee</p>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product__button"></button>
            </li>
            <li class="product__item--tree">
                <p class="product__name">milkshakes</p>
            <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button type="button" class="product__button"></button></li>
        </ul>
    </div>
</section>