.product__item {
    border-radius: 24px;
    width: 100%;
    height: 489px;
}
.product__item--one {
    background-color: $product-one-bgc;
}
.product__item--two {
    background-color: $product-second-bgc;
}
.product__item--tree {
    background-color: $product-third-bgc;
}