.gallery {
    max-width: 320px;
    height: 122px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 245, 246, 1);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/Gallery1x_mobile.jpg');
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .gallery {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/Gallery2x_mobile.jpg');
        }
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 264px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/Gallery1x_tablet.jpg');
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .gallery {
                background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/Gallery2x_tablet.jpg');
            }
        }
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
        height: 430px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/Gallery1x_desktop.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .gallery {
                background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/Gallery2x_desktop.jpg');
            }
        }
    }
}